<?xml version="1.0"?>
<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <!-- Server Configuration -->
  <system.serviceModel>
    <services>
      <service name="TimeTracker.Wcf.WcfService" behaviorConfiguration="metadataBehavior">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:8081/" />
          </baseAddresses>
        </host>
        <endpoint address=""
                  binding="wsHttpBinding"
                  contract="TimeTracker.WcfContract.IWcfContract"/>
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior>
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=TimeTracker_dbs;Integrated Security=SSPI;AttachDBFilename=C:\TimeTracker_dbs\local.mdf" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
