<?xml version="1.0"?>
<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <!-- Client Configuration -->
  <system.serviceModel>
    <client>
      <endpoint 
        name="TimeTrackerWcfConfiguration" 
        address="http://localhost:8081/"
        binding="wsHttpBinding" 
        contract="TimeTracker.WcfContract.IWcfContract">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8081/" 
                binding="wsDualHttpBinding" 
                contract="TimeTracker.WcfContract.IWcfContract" />
    </client>
  </system.serviceModel>
</configuration>
